@model ProyectoFenipo.Models.Intento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Intento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KilosMovimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KilosMovimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InscripcionAtletas.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InscripcionAtletas.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movimiento1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movimiento1.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroIntento1.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroIntento1.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusMovimiento.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusMovimiento.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
