@model ProyectoFenipo.Models.Competencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Competencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Clasificacion de Atletas", "ListaAtletasInscritos", new { id = Model.Id })
    @Html.ActionLink("Lista de Equipos Inscritos", "ListaEquipos", new { id = Model.Id })
</p>
