@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Sistema FENIPO</title>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            position: relative;
            bottom: 52px;
        }
    </style>
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="~/Home/Index">PROYECTO FENIPO</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            @*<div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>*@
        </form>
        @if (Request.IsAuthenticated)
        {<!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="~/Views/Account/Login.cshtml">Iniciar Sesion</a></li>
                    </ul>
                </li>
            </ul>}
        else
        {
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <!-- Aqui quiero que esto se dirija al "LoginUsers" que esta dentro de la carpeta "Shared"-->
                        <li>@Html.ActionLink("Iniciar sesión", "LoginUser", "Account", routeValues: null, htmlAttributes: new { @id = "loginLink", @class="dropdown-item" })</li>
                    </ul>
                </li>
            </ul>
        }
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        @if (Request.IsAuthenticated)
                        {
                            <div class="sb-sidenav-menu-heading">Administracion</div>
                            <a class="nav-link" href="~/Atletas/Index">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-person-walking"></i></div>
                                Afiliacion de atletas
                            </a>
                            <a class="nav-link" href="~/Equipoes/Index">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-people-line"></i></div>
                                Afiliacion de Equipos
                            </a>
                            <a class="nav-link" href="~/Competencias/Index">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-medal"></i></div>
                                Programacion de Competencias
                            </a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseParametros" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Parametros de Competicion
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseParametros" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="~/Intentoes/Index">Intento</a>
                                    <a class="nav-link" href="~/Movimientoes/Index">Movimientos</a>
                                    <a class="nav-link" href="~/CategoriaPesoes/Index">Categorias de Peso</a>
                                    <a class="nav-link" href="~/CategoriaEdads/Index">Categorias de Edad</a>
                                    <a class="nav-link" href="~/StatusMovimientoes/Index">Estados de Intentos</a>
                                    <a class="nav-link" href="~/NumeroIntentoes/Index">Numero De Intentos</a>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Administracion de Competencia</div>
                            <a class="nav-link" href="~/Competencias/CompetenciaAdministracion">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-medal"></i></div>
                                Competencias
                            </a>
                            <div class="sb-sidenav-menu-heading">Publico</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseRecords" aria-expanded="false" aria-controls="collapseRecords">
                                <div class="sb-nav-link-icon"><i class="fa-sharp fa-solid fa-ranking-star"></i></div>
                                Records
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseRecords" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="~/Records/RecordsSentadilla">Sentadilla</a>
                                    <a class="nav-link" href="~/Records/RecordsPressBanca">Press Banca</a>
                                    <a class="nav-link" href="~/Records/RecordsPesoMuerto">Peso Muerto</a>
                                    <a class="nav-link" href="~/CategoriaEdads/Index">Total</a>
                                </nav>
                            </div>
                            <a class="nav-link" href="~/Competencias/CompetenciasPublico">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-medal"></i></div>
                                Competencias
                            </a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Records
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        }
                        else
                        {
                            <div class="sb-sidenav-menu-heading">PUBLICO</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseRecords" aria-expanded="false" aria-controls="collapseRecords">
                                <div class="sb-nav-link-icon"><i class="fa-sharp fa-solid fa-ranking-star"></i></div>
                                Records
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseRecords" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="~/Records/RecordsSentadilla">Sentadilla</a>
                                    <a class="nav-link" href="~/Records/RecordsPressBanca">Press Banca</a>
                                    <a class="nav-link" href="~/Records/RecordsPesoMuerto">Peso Muerto</a>
                                    <a class="nav-link" href="~/CategoriaEdads/Index">Total</a>
                                </nav>
                            </div>
                            <a class="nav-link" href="~/Competencias/CompetenciasPublico">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-medal"></i></div>
                                Competencias
                            </a>
                        }
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>